:root {
    --item-size: 50px;
    --bg-color: #d1d8e0;
    --text-selectcolor: #a5b1c2;
    --text-primary: #3867d6;
    --box-shadow: 5px 5px 15px #7d8286;
}

body {
    margin: 0;
    width: 100vw;
    height: 90vh;
    font-family: "JetBrains Mono", monospace;
    background: var(--bg-color);
    background-color:black;
}

.container {
    margin: auto;
    padding-top: 100px;
    width: fit-content;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.clock-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;  
  margin-top: 200px;
  text-align: center;
}
.date-container {
    padding-center: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: 3px solid white;
  border-radius: 10px;
  box-shadow:var(--box-shadow);
  color:var(--text-selectcolor);
}

.stripe {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    transition: 500ms;
}

.stripe li {
    position: relative;
    width: var(--item-size);
    height: var(--item-size);
}

.stripe li span {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 200ms;
    color: var(--text-selectcolor);
}

.stripe li.selected span {
    color: var(--text-primary);
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: var(--box-shadow);
    background: var(--bg-color);
}
